[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cryptography = "*"
pyAesCrypt = "*"
beautifulsoup4 = "*"
lxml = "*"
eyeD3 = "*"
tqdm = "*"
pydub = "*"
pandas = "*"
pdfreader = "*"
requests = "*"
environs = "*"
azure-cognitiveservices-speech = "*"
jupyter = "*"
selenium = "*"
roman = "*"
google-cloud-texttospeech = "*"

[requires]
python_version = "3.9"
